@import "tailwindcss";
@import "tw-animate-css";
@import "./shadcn.css";

@theme {
  --color-primary: oklch(0.24 0.0312 273.09);
  --font-display: "Inter", "sans-serif";
  --color-switch: oklch(0.45 0.1033 260.44);
  --color-timeline-round: oklch(0.21 0.0259 73.57);
  --color-timeline-bg: oklch(0.43 0.0606 284.81);
}
